body {
    font-family: verdana;
  }
  
  header {
    background-color: #afafaf;
    color: #ff5f00;
    text-align: center;
  }

  table {
    border: solid 2px black;
    box-shadow: 5mm grey;
    width: 80%;
  }

  th {
    border: solid 1px black;
  }

  td {
    border: solid 1px black;
    padding: 5px;
    
  }

  thead {
    background-color: #76B900;
    color: white;
    text-align: center;
  }

  nav {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  nav>a {
    color: white;
    background-color: #0082d1;
    font-weight: bold;
    text-decoration-line: none;
    
  }

  nav>a:hover {
    color: #ff5f00;
    background-color: #afafaf;
  }

  footer {
    background-color: #ff5f00;
    color: black;
    text-align: center;
    font-size: smaller;
    padding-top: 20px;
    padding-bottom: 20px;
  }